body{
  margin: 0px;
}

header{
  margin-left: 10px;
  margin-top: 10px;
  font-size: large;
}

.removeFilter{
  display: inline;
}

.Container{
  width: 100vw;
  height: 100vh;
  background-color: #282c34;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.leaflet-container{
  position: absolute;
  width: 100vw;
  height: 100vh;
}

.Menu{
  height: 100vh;
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.ContextMenu{
  position: absolute;
  background-color: #282c34;
  color: white;
  z-index: 2000;
}

.caseRegistration{
  height: 100vh;
}

.caseRegistration-form{
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 10px;
}

.caseRegistration-form-label{
  grid-column-start: 1;
  padding: 10px;
}

.caseRegistration-form-input{
  grid-column-start: 2;
  margin: 10px;
}

.rightMenu{
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 1000;
  min-width: 20vh;
  max-width: 20vh;
}

.searchField{
  margin: 5px;
  z-index: 1000;
}

.searchField-input{
  padding: 5px;
  font-size: larger;
  max-width: 20vh;
}

.searchfield-choices{
  overflow-y: scroll;
  max-height: 40vh;
  width:21.31vh;
}

.searchfield-choice{
  background-color: white;
  margin: 0px;
  padding: 1px;
}

#placeObjectBtn {
  position: absolute;
  overflow: hidden;

  bottom: 5px;
  right: 10px;
  width: 15%;
  border-radius: 40px;
  z-index: 1000;
}

.mapFilter{
  margin: 5px;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  background-color: white;
  display: grid;
  z-index: 1000;
  min-width: inherit;
  max-width: inherit;
}

.mapFilter-entry{
  border-style: solid;
  border-width: 1px;
  display: grid;
  padding: 3px;
  margin: 5px;
  grid-template-columns: 0fr 1fr 0fr;
}

.mapfilter-entry-name{
  grid-column-start: 2;
}
.mapfilter-areabutton{
  justify-self: end;
}

.mapFilter-entry-button{
  width: 20px;
  justify-self: end;
  color: black;
  background-color: white;
  grid-column-start: 3;
}
.mapfilter-entry-colorbox{
  width: 10px;
  height: 10px;
  border-style: solid;
  border-width: 1px;
  margin: 2px;
}

.dataDisplay{
  border-style: solid;
  border-width: 1px;
  background-color: white;
  margin: 5px;
  z-index: 1000;
  max-width: 20vw;
}

.clusterPie{
  position: relative;
  float: left;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* -----------TOOLTIP-----------*/

/* Tooltip container */
.tooltip {
  position: relative;
  display: block;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

/*-----------TOOLTIP END-------------*/

/*-----------DropDown Styling---------*/

.dd-wrapper {
  background-color: #373d47;
  margin: 10px;
  margin-right: 20px;
}

.dd-list {
  height: 200px;
  list-style-type: none;
  padding-inline-start: 20px;
  overflow: scroll;
}

.dd-list::-webkit-scrollbar {
  display: none;
}
